<div class="grid place-items-center ring-offset-rose-950 text-fuchsia-900 dark:text-violet-200">
        <div>
            <buttton
                class="absolute right-10 top-24 cursor-pointer rounded-full border-4 border-red-400 dark:border-red-900 border-opacity-100 w-fit h-fit"
                onclick="window.location.assign('#addplugin')">
                <svg class="w-14 h-14" viewBox="0 0 25 25" version="1.1" id="pluspublicationbttnsvg"
                    xmlns="http://www.w3.org/2000/svg">
                    <defs id="defs1" />
                    <g id="layer2">
                        <ellipse
                            style="opacity:1;fill:#cdc77f;fill-opacity:1;stroke:#eaeab1;stroke-width:0.398133;stroke-opacity:1"
                            id="path14" cx="12.520833" cy="12.520833" rx="12.198772" ry="12.240438" />
                    </g>
                    <g id="g14" transform="translate(0.16666667,-0.20833333)">
                        <g id="layer1">
                            <path
                                style="opacity:1;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.337344;stroke-opacity:1"
                                d="M 2.6347507,9.2739869 2.605288,14.459436" id="path1" />
                            <path
                                style="opacity:1;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.337344;stroke-opacity:1"
                                d="m 22.599501,9.4637332 -0.02946,5.1854488" id="path1-5" />
                            <path
                                style="opacity:1;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.337344;stroke-opacity:1"
                                d="m 15.204326,2.0520968 -5.18545,-0.02946" id="path1-5-5" />
                            <path
                                style="opacity:1;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.337344;stroke-opacity:1"
                                d="M 15.107569,21.836014 9.9221191,21.806554" id="path1-5-5-4" />
                            <path
                                style="opacity:1;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.337344;stroke-opacity:1"
                                d="M 2.7526019,14.282659 9.9709835,14.40051" id="path2" />
                            <path
                                style="opacity:1;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.337344;stroke-opacity:1"
                                d="m 15.171198,14.303208 7.218382,0.117851" id="path2-0" />
                            <path
                                style="opacity:1;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.337344;stroke-opacity:1"
                                d="m 15.215581,9.5666811 7.218381,0.117851" id="path2-2" />
                            <path
                                style="opacity:1;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.337344;stroke-opacity:1"
                                d="m 2.8177712,9.4829468 7.2183818,0.117851" id="path2-3" />
                            <path
                                style="opacity:1;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.337344;stroke-opacity:1"
                                d="m 10.18307,2.1851987 -0.01395,7.21933" id="path2-3-1" />
                            <path
                                style="opacity:1;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.337344;stroke-opacity:1"
                                d="m 10.130918,14.451618 -0.01395,7.219331" id="path2-3-1-6" />
                            <path
                                style="opacity:1;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.337344;stroke-opacity:1"
                                d="m 15.050039,2.2274724 -0.01395,7.21933" id="path2-3-1-8" />
                            <path
                                style="opacity:1;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.337344;stroke-opacity:1"
                                d="m 14.957579,14.486112 -0.01395,7.21933" id="path2-3-1-1" />
                            <path
                                style="opacity:1;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.200787;stroke-opacity:1"
                                d="m 37.824559,82.934817 c -0.168984,-0.10716 -0.197866,-2.674351 -0.15748,-13.997858 l 0.04946,-13.866631 -2.834645,-0.0951 C 32.444937,54.893462 12.485783,54.563712 10.11811,54.566096 l -0.8267714,8.33e-4 v -8.006998 c 0,-4.403849 0.046202,-8.762117 0.1026719,-9.68504 L 9.4966824,35.19685 h 0.5231476 0.523148 l 0.04789,2.401575 L 10.63876,40 l 0.0349,-2.362205 0.0349,-2.362204 2.637849,0.03849 c 1.450817,0.02117 6.925251,0.110021 12.165408,0.197439 5.240158,0.08742 10.466536,0.158681 11.614173,0.158356 l 2.086614,-5.89e-4 V 22.047244 8.4251969 h 9.133859 9.133858 V 20.369203 c 0,6.569203 -0.0462,12.699125 -0.102672,13.622047 l -0.102671,1.678041 H 56.750425 56.22588 l -0.0449,-3.976378 -0.0449,-3.976378 -0.03654,4.055119 -0.03654,4.055118 h 0.482794 c 0.265537,0 0.619868,0.07336 0.787401,0.16302 0.248287,0.132879 0.304599,0.111041 0.304555,-0.11811 -6.2e-5,-0.321054 -1.384536,-0.316832 14.645723,-0.04467 5.153543,0.0875 10.056746,0.158669 10.896004,0.158162 l 1.525928,-9.21e-4 0.06177,0.590551 0.06177,0.590551 0.02647,-0.669291 c 0.0259,-0.654876 0.03834,-0.669291 0.577654,-0.669291 h 0.551181 v 6.431301 c 0,3.537215 -0.0467,7.930916 -0.103783,9.763779 l -0.103784,3.332479 H 85.250548 84.72441 l -0.0311,-3.267717 -0.03109,-3.267716 -0.08702,2.310313 c -0.04786,1.270673 -0.136175,2.359202 -0.196258,2.418954 -0.06008,0.05975 -0.804178,0.161378 -1.653544,0.225835 l -1.544301,0.117195 1.692914,0.02291 1.692913,0.02291 v 0.570657 0.570658 L 77.28346,54.96278 c -4.005906,-0.06355 -10.082677,-0.164236 -13.503937,-0.22374 -3.42126,-0.0595 -6.297518,-0.08398 -6.391684,-0.0544 -0.188888,0.05935 -0.379499,11.164029 -0.379798,22.126388 l -1.72e-4,6.259842 -9.488189,-0.0024 c -5.218504,-0.0013 -9.58131,-0.06146 -9.695126,-0.133638 z m 18.042474,-14.54899 -0.03848,-13.582677 -0.04114,13.501138 -0.04114,13.50114 -3.818019,0.0451 -3.818019,0.0451 3.897638,0.03644 3.897638,0.03644 z M 39.645669,81.702468 c -0.151574,-0.03961 -0.399606,-0.03961 -0.551181,0 -0.151575,0.03961 -0.02756,0.07202 0.275591,0.07202 0.303149,0 0.427165,-0.03241 0.27559,-0.07202 z m -0.63033,-25.127665 c -0.02691,-1.147638 -0.04892,-0.208661 -0.04892,2.086614 0,2.295276 0.02202,3.234252 0.04892,2.086615 0.02691,-1.147638 0.02691,-3.025591 0,-4.173229 z m -0.590142,-1.911022 c 0,-0.03334 -0.177165,-0.176712 -0.393701,-0.31859 -0.375217,-0.245852 -0.393701,-0.243007 -0.393701,0.06063 0,0.234843 0.103492,0.318591 0.393701,0.318591 0.216536,0 0.393701,-0.02728 0.393701,-0.06063 z m -4.756302,-1.001175 c -0.667147,-0.02944 -1.801005,-0.02961 -2.519686,-3.62e-4 -0.718678,0.02925 -0.172831,0.05334 1.212996,0.05354 1.385827,2e-4 1.973838,-0.02373 1.30669,-0.05318 z m 39.677562,0.0041 c -0.238189,-0.03608 -0.627953,-0.03608 -0.866142,0 -0.238189,0.03608 -0.04331,0.0656 0.433071,0.0656 0.476378,0 0.67126,-0.02952 0.433071,-0.0656 z M 23.510486,53.505619 c -0.537736,-0.03066 -1.458996,-0.03088 -2.047244,-5.01e-4 -0.588247,0.03038 -0.148281,0.05547 0.977703,0.05574 1.125984,2.76e-4 1.607278,-0.02458 1.069541,-0.05524 z m 40.150931,0.01213 c -0.108267,-0.04369 -0.285433,-0.04369 -0.3937,0 -0.108268,0.04369 -0.01968,0.07943 0.19685,0.07943 0.216535,0 0.305118,-0.03574 0.19685,-0.07943 z m -51.299212,-0.19976 c -0.866142,-0.0493 -1.663386,-0.146975 -1.771654,-0.217047 -0.203944,-0.131995 -0.276951,0.07355 -0.09186,0.258638 0.05774,0.05774 0.854987,0.09218 1.771653,0.07652 l 1.666667,-0.02847 z m 45.866142,0.03802 c -0.151575,-0.03961 -0.399607,-0.03961 -0.551182,0 -0.151574,0.03961 -0.02756,0.07202 0.275591,0.07202 0.30315,0 0.427165,-0.03241 0.275591,-0.07202 z M 82.874016,37.128786 c -0.36811,-0.03315 -0.970473,-0.03315 -1.338583,0 -0.36811,0.03316 -0.06693,0.06028 0.669292,0.06028 0.73622,0 1.037401,-0.02713 0.669291,-0.06028 z m -10.624643,-0.15771 c -0.408513,-0.03232 -1.117174,-0.03266 -1.574803,-7.45e-4 -0.457628,0.03191 -0.123389,0.05836 0.742753,0.05877 0.866142,4.09e-4 1.240564,-0.0257 0.83205,-0.05802 z M 36.185265,36.814663 c -0.322514,-0.03384 -0.889443,-0.03431 -1.259843,-0.001 -0.3704,0.03327 -0.106524,0.06095 0.586389,0.06153 0.692913,5.72e-4 0.995967,-0.02665 0.673454,-0.06048 z m 1.094919,0.01933 c -0.05233,-0.05233 -0.188156,-0.05792 -0.301837,-0.01243 -0.125627,0.05027 -0.08831,0.08759 0.09514,0.09514 0.16601,0.0068 0.259022,-0.03038 0.206693,-0.08271 z m 24.81461,-0.02208 c -0.796682,-0.02852 -2.143139,-0.02865 -2.992126,-2.76e-4 -0.848988,0.02837 -0.197156,0.05171 1.448513,0.05186 1.645669,1.52e-4 2.340295,-0.02306 1.543613,-0.05158 z M 25.551181,36.656345 c -0.36811,-0.03315 -0.970472,-0.03315 -1.338583,0 -0.36811,0.03316 -0.06693,0.06028 0.669292,0.06028 0.73622,0 1.037401,-0.02713 0.669291,-0.06028 z m -9.600549,-0.158074 c -0.451562,-0.0317 -1.231089,-0.03199 -1.732283,-6.46e-4 -0.501194,0.03135 -0.131735,0.05729 0.821021,0.05764 0.952756,3.56e-4 1.362824,-0.02529 0.911262,-0.05699 z"
                                id="path13" transform="scale(0.26458333)" />
                        </g>
                    </g>
                </svg>
                </button>
    </div>
    <h1 class="mt-6 font-display text-4xl tracking-tight w-fit">Plugins</h1>

    <span>as set in <span
            class="text-transparent bg-clip-text bg-gradient-to-r to-violet-700 from-rose-400 font-semibold">{{cynplmlocation}}</span>.</span>
    <div
        class="w-4/6 relative flex flex-col text-fuchsia-900 dark:text-violet-200 bg-stone-100 border-2 border border-amber-600 dark:bg-stone-600 bg-opacity-60 shadow-md w-160 rounded-xl bg-clip-border mt-20">
        <div
            class="flex min-w-full flex-col gap-1 p-2 font-sans text-base font-normal text-blue-gray-700 divide-amber-600 divide-dotted divide-y-2">
            {{#each plugins}}
            <div role="button"
                class=" flex items-center w-full p-3 leading-tight transition-all rounded-lg outline-none hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
                <div class="grid mr-4 place-items-center">
                    <img src="{{{this.thumbnail}}}"
                        class="relative inline-block h-12 w-12 !rounded-full object-cover object-center" />
                </div>
                <div class="grid w-full">
                    <div class="grid ml-auto place-items-center justify-self-end end right-0">
                        <button
                            class="hover:text-red-500 relative h-10 max-h-[40px] w-10 max-w-[90px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-blue-gray-500 transition-all hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                            type="button">
                            <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    class="w-5 h-5">
                                    <path fill-rule="evenodd"
                                        d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                    <h6
                        class="block font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900">
                        {{this.name}}
                        <span class="text-gray-500 dark:text-stone-400">by {{this.author}}</span>
                    </h6>
                    <p
                        class="block font-sans text-sm antialiased font-normal leading-normal text-fuchsia-900 dark:text-violet-200">
                        {{this.description}}
                        <span class="text-gray-500 dark:text-stone-400 text-xs">
                            version {{this.version}}
                        </span>
                    </p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>